.bl-work {
  width: 32.2rem;
  height: auto;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 8px;
  overflow: hidden;
  .bl-work_imgWrapper {
    position: relative;
    padding-top: calc(204/322) * 100%;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      transform-origin: 50% 50%;
      transition: transform 0.3s;
    }
  }
  &:hover, :focus {
    img {
      transform: translateY(-50%) scale(1.2);
    }
  }

  .bl-work_body {
    padding: 1.9rem 1rem 4rem 1.8rem;
    .bl-work_ttl {
      margin-bottom: 3rem;
      line-height: 2.4rem;
    }
    .bl-work_txt {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}